.post-section #user_profile {
    width: 160px;
    height: 160px;
    border-radius: 80px;
   
}

.post-section{
    display: flex;
    justify-content: space-around;
    margin: 18px 0px;
    border-bottom: 1px solid rgb(216, 215, 215);
    box-shadow: 1px;
    padding: 10px;
   
}

 .post-activities{
    display: flex;
    justify-content: space-between;
    
}

.gallery-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/** Gallery section */
.gallery-section img {
    width: 250px;
    height: 250px;
  display: flex;

}

.profile_container{
    max-width: '550px';
    margin: '0px auto';
    background-color: white;
    border-radius: 8px;
   

}