@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');



.home_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);  
  border-radius: 8px;
  padding: 10px;
}

.home_container .card #post-user_img {
  height: 48px;
  width: 48px;
  margin: 4px;
  border-radius: 10px;
  border-color: grey;
}

.sc_one_post-usr_profile {
  display: flex;
}

.post_description {
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.post_description p {
  font-family: 'Open Sans';
  font-weight: 100;
}

.section_two {
  display: flex;
    padding: 9px;
    /* border-radius: 178px; */
    /* justify-content: center;
    align-items: center; */
}

.section_two img {
  height: 500px;
  width: 700px;
  border-radius: 8px;
}

#post-user_name span{
  
}

.post_user_block #title {
  font-family: 'Open Sans';
  font-weight: 700;
}

.section_three {
  padding: 10px;
}

.social-actions {
  /* display: flex;
  margin-right: 4px; */
  display: -webkit-box;
  
}